<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:fragment="footerbar">

	<footer class="footer">
		<div class="wrap">
			<div class="row">
				<!--column-->
				<article class="one-fourth">
					<h6>DropMate</h6>
					<p>1400 PennsylSUVia Ave. Washington, DC</p>
					<p><em>P:</em> 24/7 customer support: 1-555-555-5555</p>
					<p><em>E:</em> <a href="#" title="booking@mail.com">booking@mail.com</a></p>
				</article>
				<!--//column-->
				
				<!--column-->
				<article class="one-fourth">
					<h6>Customer support</h6>
					<ul>
						<li><a href="#" title="Faq">Faq</a></li>
						<li><a href="#" title="How do I make a reservation?">How do I make a reservation?</a></li>
						<li><a href="#" title="Payment options">Payment options</a></li>
						<li><a href="#" title="Booking tips">Booking tips</a></li>
					</ul>
				</article>
				<!--//column-->
				
				<!--column-->
				<article class="one-fourth">
					<h6>Follow us</h6>
					<ul class="social">
							<li><a href="#" title="facebook"><i class="fa fa-fw fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#" title="youtube"><i class="fa  fa-fw fa-youtube" aria-hidden="true"></i></a></li>
							<li><a href="#" title="rss"><i class="fa  fa-fw fa-rss" aria-hidden="true"></i></a></li>
							<li><a href="#" title="gplus"><i class="fa fa-fw fa-google-plus" aria-hidden="true"></i></a></li>
							<li><a href="#" title="linkedin"><i class="fa fa-fw fa-linkedin" aria-hidden="true"></i></a></li>
							<li><a href="#" title="twitter"><i class="fa fa-fw fa-twitter" aria-hidden="true"></i></a></li>
							<li><a href="#" title="pinterest"><i class="fa fa-fw fa-pinterest-p" aria-hidden="true"></i></a></li>
							<li><a href="#" title="vimeo"><i class="fa fa-fw fa-vimeo" aria-hidden="true"></i></a></li>
						</ul>
				</article>
				<!--//column-->
				
				<!--column-->
				<article class="one-fourth">
					<h6>Don’t miss our exclusive offers</h6>
					<form id="newsletter" action="newsletter.php" method="post">
						<fieldset>
							<input type="email" id="newsletter_signup" name="newsletter_signup" placeholder="Enter your email here" fdprocessedid="g0y43f">
							<input type="submit" id="newsletter_submit" name="newsletter_submit" value="Signup" class="gradient-button" fdprocessedid="9yrhf">
						</fieldset>
					</form>
				</article>
				<!--//column-->
				
				<div class="bottom full-width">
					<p class="copy">Copyright 2025 DropMate ltd. All rights reserved</p>
					<nav>
						<ul>
							<li><a href="#" title="About us">About us</a></li>
							<li><a href="contact.html" title="Contact">Contact</a></li>
							<li><a href="#" title="Partners">Partners</a></li>
							<li><a href="#" title="Customer service">Customer service</a></li>
							<li><a href="#" title="FAQ">FAQ</a></li>
							<li><a href="#" title="Careers">Careers</a></li>
							<li><a href="#" title="Terms &amp; Conditions">Terms &amp; Conditions</a></li>
							<li><a href="#" title="Privacy statement">Privacy statement</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</footer>
	
</div>

</head>
</html>